GITHUB_TOKEN=
GITHUB_WEBHOOK_SECRET=
JSONBIN_ID=
JSONBIN_KEY=
SLACK_WEBHOOK_URL=
NEXT_PUBLIC_SUPABASE_URL=https://ytpiabxfgqrprpxvuyhd.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_qRWGIvmh9O5YzO0nO9vXQA_uFHIpQGe
